---
import { BButton, Bind, BindForm } from "@astro-utils/forms/forms.js";

interface Props {
    incParentCounter: () => void;
    debugParam?: string;
}

const { incParentCounter, debugParam } = Astro.props;
const bind = Bind({counter: 0, debugParam});
const { forms } = Astro.locals;

async function onSubmit(){
    bind.counter++;
    incParentCounter();
    forms.reloadState();
}

---
<BindForm {bind}>
    <p>Counter of sub-state: {bind.counter}</p>
    <BButton onClick={onSubmit}>Button From Sub-State</BButton>
</BindForm>