---
import { BButton, Bind, BindForm } from "@astro-utils/forms/forms.js";

const bind = Bind();
const { session, forms } = Astro.locals;

async function onSubmit(){
    session.counter ??= 0;
    session.counter++;
    forms.reloadState();
}

---
<BindForm {bind}>
    <p>Counter of sub-state: {session.counter}</p>
    <BButton onClick={onSubmit}>Button From Sub-State</BButton>
</BindForm>